<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>ArmChair</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5175,0.5034 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -45.000,-61.000 }</string>	
								<string>{ -41.000,-63.000 }</string>	
								<string>{ -29.000,-66.000 }</string>	
								<string>{ -24.000,-63.000 }</string>	
								<string>{ -44.000,-59.000 }</string>
							</array>
							<array>	
								<string>{ -31.000,-69.000 }</string>	
								<string>{ -35.000,-67.000 }</string>	
								<string>{ -38.000,-66.000 }</string>	
								<string>{ -35.000,-69.000 }</string>
							</array>
							<array>	
								<string>{ -40.000,-66.000 }</string>	
								<string>{ -38.000,-66.000 }</string>	
								<string>{ -41.000,-63.000 }</string>
							</array>
							<array>	
								<string>{ -30.000,63.000 }</string>	
								<string>{ -40.000,63.000 }</string>	
								<string>{ -47.000,60.000 }</string>	
								<string>{ -55.000,50.000 }</string>	
								<string>{ -57.000,40.000 }</string>	
								<string>{ -56.000,30.000 }</string>	
								<string>{ -51.000,19.000 }</string>	
								<string>{ -23.000,56.000 }</string>
							</array>
							<array>	
								<string>{ -48.000,-58.000 }</string>	
								<string>{ -46.000,-60.000 }</string>	
								<string>{ -48.000,-54.000 }</string>
							</array>
							<array>	
								<string>{ 64.000,-23.000 }</string>	
								<string>{ 64.000,-15.000 }</string>	
								<string>{ 56.000,-7.000 }</string>	
								<string>{ 50.000,-2.000 }</string>	
								<string>{ 53.000,-33.000 }</string>	
								<string>{ 60.000,-29.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,-69.000 }</string>	
								<string>{ 37.000,-68.000 }</string>	
								<string>{ 47.000,-57.000 }</string>	
								<string>{ 53.000,-33.000 }</string>	
								<string>{ 50.000,-2.000 }</string>	
								<string>{ 27.000,-67.000 }</string>
							</array>
							<array>	
								<string>{ -65.000,-24.000 }</string>	
								<string>{ -60.000,-30.000 }</string>	
								<string>{ -55.000,-32.000 }</string>	
								<string>{ -54.000,-31.000 }</string>	
								<string>{ -51.000,-2.000 }</string>	
								<string>{ -57.000,-5.000 }</string>	
								<string>{ -64.000,-12.000 }</string>	
								<string>{ -66.000,-17.000 }</string>
							</array>
							<array>	
								<string>{ 39.000,63.000 }</string>	
								<string>{ 29.000,63.000 }</string>	
								<string>{ 23.000,59.000 }</string>	
								<string>{ 22.000,56.000 }</string>	
								<string>{ 50.000,21.000 }</string>	
								<string>{ 55.000,34.000 }</string>	
								<string>{ 54.000,49.000 }</string>	
								<string>{ 48.000,58.000 }</string>
							</array>
							<array>	
								<string>{ -29.000,-68.000 }</string>	
								<string>{ -24.000,-63.000 }</string>	
								<string>{ -29.000,-66.000 }</string>
							</array>
							<array>	
								<string>{ 52.000,-2.000 }</string>	
								<string>{ 50.000,-2.000 }</string>	
								<string>{ 56.000,-7.000 }</string>
							</array>
							<array>	
								<string>{ -38.000,-66.000 }</string>	
								<string>{ -35.000,-67.000 }</string>	
								<string>{ -29.000,-66.000 }</string>	
								<string>{ -41.000,-63.000 }</string>
							</array>
							<array>	
								<string>{ -44.000,-59.000 }</string>	
								<string>{ -24.000,-63.000 }</string>	
								<string>{ -16.000,-64.000 }</string>	
								<string>{ 14.000,-64.000 }</string>	
								<string>{ 24.000,-63.000 }</string>	
								<string>{ 50.000,16.000 }</string>	
								<string>{ -52.000,-31.000 }</string>	
								<string>{ -49.000,-46.000 }</string>
							</array>
							<array>	
								<string>{ 58.000,-7.000 }</string>	
								<string>{ 56.000,-7.000 }</string>	
								<string>{ 64.000,-15.000 }</string>	
								<string>{ 62.000,-11.000 }</string>
							</array>
							<array>	
								<string>{ 54.000,28.000 }</string>	
								<string>{ 55.000,34.000 }</string>	
								<string>{ 50.000,21.000 }</string>
							</array>
							<array>	
								<string>{ -23.000,56.000 }</string>	
								<string>{ -51.000,19.000 }</string>	
								<string>{ -53.000,3.000 }</string>	
								<string>{ -51.000,-2.000 }</string>	
								<string>{ 50.000,16.000 }</string>	
								<string>{ 50.000,21.000 }</string>	
								<string>{ 15.000,58.000 }</string>	
								<string>{ -13.000,58.000 }</string>
							</array>
							<array>	
								<string>{ -53.000,16.000 }</string>	
								<string>{ -53.000,3.000 }</string>	
								<string>{ -51.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 52.000,14.000 }</string>	
								<string>{ 50.000,16.000 }</string>	
								<string>{ 24.000,-63.000 }</string>	
								<string>{ 27.000,-67.000 }</string>	
								<string>{ 50.000,-2.000 }</string>
							</array>
							<array>	
								<string>{ 22.000,56.000 }</string>	
								<string>{ 15.000,58.000 }</string>	
								<string>{ 50.000,21.000 }</string>
							</array>
							<array>	
								<string>{ -51.000,-48.000 }</string>	
								<string>{ -48.000,-54.000 }</string>	
								<string>{ -53.000,-37.000 }</string>	
								<string>{ -55.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ 50.000,16.000 }</string>	
								<string>{ -51.000,-2.000 }</string>	
								<string>{ -54.000,-31.000 }</string>	
								<string>{ -52.000,-31.000 }</string>
							</array>
							<array>	
								<string>{ -54.000,-31.000 }</string>	
								<string>{ -55.000,-32.000 }</string>	
								<string>{ -53.000,-37.000 }</string>
							</array>
							<array>	
								<string>{ -46.000,-60.000 }</string>	
								<string>{ -53.000,-37.000 }</string>	
								<string>{ -48.000,-54.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Barrel</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5034,0.4966 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -45.000,40.000 }</string>	
								<string>{ -46.000,38.000 }</string>	
								<string>{ -51.000,15.000 }</string>	
								<string>{ -9.000,-61.000 }</string>	
								<string>{ -44.000,38.000 }</string>
							</array>
							<array>	
								<string>{ -19.000,-61.000 }</string>	
								<string>{ -22.000,-60.000 }</string>	
								<string>{ -30.000,-59.000 }</string>	
								<string>{ -22.000,-62.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,62.000 }</string>	
								<string>{ 27.000,61.000 }</string>	
								<string>{ 33.000,61.000 }</string>	
								<string>{ 27.000,63.000 }</string>
							</array>
							<array>	
								<string>{ -44.000,41.000 }</string>	
								<string>{ -42.000,43.000 }</string>	
								<string>{ -37.000,57.000 }</string>	
								<string>{ -42.000,48.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,-63.000 }</string>	
								<string>{ 26.000,-63.000 }</string>	
								<string>{ 37.000,-61.000 }</string>	
								<string>{ 40.000,-58.000 }</string>	
								<string>{ 26.000,-61.000 }</string>
							</array>
							<array>	
								<string>{ 33.000,61.000 }</string>	
								<string>{ 27.000,61.000 }</string>	
								<string>{ -9.000,-62.000 }</string>	
								<string>{ 18.000,-62.000 }</string>	
								<string>{ 26.000,-61.000 }</string>	
								<string>{ 52.000,7.000 }</string>	
								<string>{ 49.000,33.000 }</string>	
								<string>{ 40.000,56.000 }</string>
							</array>
							<array>	
								<string>{ -30.000,-59.000 }</string>	
								<string>{ -22.000,-60.000 }</string>	
								<string>{ -9.000,-61.000 }</string>	
								<string>{ -39.000,-48.000 }</string>	
								<string>{ -38.000,-52.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,64.000 }</string>	
								<string>{ 9.000,66.000 }</string>	
								<string>{ 9.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 40.000,-58.000 }</string>	
								<string>{ 49.000,-38.000 }</string>	
								<string>{ 51.000,-24.000 }</string>	
								<string>{ 52.000,7.000 }</string>	
								<string>{ 26.000,-61.000 }</string>
							</array>
							<array>	
								<string>{ -45.000,-40.000 }</string>	
								<string>{ -39.000,-48.000 }</string>	
								<string>{ -9.000,-61.000 }</string>	
								<string>{ -45.000,-37.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,63.000 }</string>	
								<string>{ 9.000,63.000 }</string>	
								<string>{ -42.000,43.000 }</string>	
								<string>{ -42.000,40.000 }</string>	
								<string>{ 23.000,61.000 }</string>
							</array>
							<array>	
								<string>{ -33.000,61.000 }</string>	
								<string>{ -37.000,57.000 }</string>	
								<string>{ -42.000,43.000 }</string>	
								<string>{ 9.000,63.000 }</string>	
								<string>{ 9.000,66.000 }</string>	
								<string>{ -18.000,66.000 }</string>
							</array>
							<array>	
								<string>{ -49.000,-29.000 }</string>	
								<string>{ -45.000,-37.000 }</string>	
								<string>{ -9.000,-61.000 }</string>	
								<string>{ -51.000,15.000 }</string>	
								<string>{ -52.000,-12.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,-64.000 }</string>	
								<string>{ -9.000,-62.000 }</string>	
								<string>{ -18.000,-63.000 }</string>	
								<string>{ -9.000,-64.000 }</string>
							</array>
							<array>	
								<string>{ -18.000,-63.000 }</string>	
								<string>{ -9.000,-62.000 }</string>	
								<string>{ -9.000,-61.000 }</string>
							</array>
							<array>	
								<string>{ 27.000,61.000 }</string>	
								<string>{ 23.000,61.000 }</string>	
								<string>{ -9.000,-61.000 }</string>	
								<string>{ -9.000,-62.000 }</string>
							</array>
							<array>	
								<string>{ -42.000,40.000 }</string>	
								<string>{ -44.000,38.000 }</string>	
								<string>{ -9.000,-61.000 }</string>	
								<string>{ 23.000,61.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Surfboard</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4979,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -67.000,-98.000 }</string>	
								<string>{ -69.000,-97.000 }</string>	
								<string>{ -71.000,-98.000 }</string>	
								<string>{ -69.000,-99.000 }</string>
							</array>
							<array>	
								<string>{ -72.000,-96.000 }</string>	
								<string>{ -74.000,-95.000 }</string>	
								<string>{ -93.000,-87.000 }</string>	
								<string>{ -74.000,-97.000 }</string>
							</array>
							<array>	
								<string>{ -66.000,-100.000 }</string>	
								<string>{ -64.000,-101.000 }</string>	
								<string>{ -58.000,-103.000 }</string>	
								<string>{ -58.000,-101.000 }</string>	
								<string>{ -64.000,-98.000 }</string>
							</array>
							<array>	
								<string>{ -55.000,-102.000 }</string>	
								<string>{ -58.000,-101.000 }</string>	
								<string>{ -58.000,-103.000 }</string>
							</array>
							<array>	
								<string>{ -18.000,52.000 }</string>	
								<string>{ -19.000,50.000 }</string>	
								<string>{ -16.000,52.000 }</string>
							</array>
							<array>	
								<string>{ -21.000,50.000 }</string>	
								<string>{ -23.000,47.000 }</string>	
								<string>{ -19.000,50.000 }</string>
							</array>
							<array>	
								<string>{ 90.000,6.000 }</string>	
								<string>{ 90.000,8.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 87.000,4.000 }</string>
							</array>
							<array>	
								<string>{ 87.000,2.000 }</string>	
								<string>{ 87.000,4.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 84.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 1.000,-80.000 }</string>	
								<string>{ 3.000,-77.000 }</string>	
								<string>{ -1.000,-80.000 }</string>
							</array>
							<array>	
								<string>{ -3.000,-83.000 }</string>	
								<string>{ -1.000,-80.000 }</string>	
								<string>{ -5.000,-83.000 }</string>
							</array>
							<array>	
								<string>{ -7.000,-86.000 }</string>	
								<string>{ -5.000,-83.000 }</string>	
								<string>{ -9.000,-86.000 }</string>
							</array>
							<array>	
								<string>{ -116.000,-57.000 }</string>	
								<string>{ -117.000,-60.000 }</string>	
								<string>{ -116.000,-60.000 }</string>
							</array>
							<array>	
								<string>{ 117.000,66.000 }</string>	
								<string>{ 116.000,58.000 }</string>	
								<string>{ 118.000,61.000 }</string>
							</array>
							<array>	
								<string>{ -117.000,-31.000 }</string>	
								<string>{ -117.000,-52.000 }</string>	
								<string>{ -111.000,-67.000 }</string>	
								<string>{ -101.000,-81.000 }</string>	
								<string>{ -95.000,-84.000 }</string>	
								<string>{ -107.000,-21.000 }</string>
							</array>
							<array>	
								<string>{ 99.000,19.000 }</string>	
								<string>{ 100.000,23.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 97.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 118.000,99.000 }</string>	
								<string>{ 113.000,104.000 }</string>	
								<string>{ 95.000,104.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 111.000,47.000 }</string>	
								<string>{ 118.000,73.000 }</string>
							</array>
							<array>	
								<string>{ -59.000,21.000 }</string>	
								<string>{ -62.000,17.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -57.000,21.000 }</string>
							</array>
							<array>	
								<string>{ -54.000,25.000 }</string>	
								<string>{ -57.000,21.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -52.000,25.000 }</string>
							</array>
							<array>	
								<string>{ -49.000,29.000 }</string>	
								<string>{ -52.000,25.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -47.000,29.000 }</string>
							</array>
							<array>	
								<string>{ -44.000,33.000 }</string>	
								<string>{ -47.000,29.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -42.000,33.000 }</string>
							</array>
							<array>	
								<string>{ 84.000,-2.000 }</string>	
								<string>{ 84.000,0.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 80.000,-5.000 }</string>
							</array>
							<array>	
								<string>{ 90.000,103.000 }</string>	
								<string>{ 86.000,104.000 }</string>	
								<string>{ 86.000,103.000 }</string>
							</array>
							<array>	
								<string>{ 86.000,104.000 }</string>	
								<string>{ 83.000,102.000 }</string>	
								<string>{ 83.000,101.000 }</string>	
								<string>{ 86.000,103.000 }</string>
							</array>
							<array>	
								<string>{ 83.000,102.000 }</string>	
								<string>{ 79.000,102.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 83.000,101.000 }</string>
							</array>
							<array>	
								<string>{ -11.000,-89.000 }</string>	
								<string>{ -9.000,-86.000 }</string>	
								<string>{ -54.000,-104.000 }</string>	
								<string>{ -16.000,-91.000 }</string>
							</array>
							<array>	
								<string>{ -18.000,-94.000 }</string>	
								<string>{ -16.000,-91.000 }</string>	
								<string>{ -54.000,-104.000 }</string>	
								<string>{ -23.000,-96.000 }</string>
							</array>
							<array>	
								<string>{ -31.000,-103.000 }</string>	
								<string>{ -23.000,-96.000 }</string>	
								<string>{ -54.000,-104.000 }</string>
							</array>
							<array>	
								<string>{ -69.000,-97.000 }</string>	
								<string>{ -64.000,-98.000 }</string>	
								<string>{ -71.000,-95.000 }</string>
							</array>
							<array>	
								<string>{ -64.000,17.000 }</string>	
								<string>{ -68.000,12.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -62.000,17.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,-60.000 }</string>	
								<string>{ 30.000,-55.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 24.000,-60.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,-65.000 }</string>	
								<string>{ 24.000,-60.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 18.000,-65.000 }</string>
							</array>
							<array>	
								<string>{ 102.000,24.000 }</string>	
								<string>{ 104.000,30.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 100.000,23.000 }</string>
							</array>
							<array>	
								<string>{ 58.000,-31.000 }</string>	
								<string>{ 58.000,-29.000 }</string>	
								<string>{ 52.000,-35.000 }</string>	
								<string>{ 54.000,-35.000 }</string>
							</array>
							<array>	
								<string>{ 54.000,93.000 }</string>	
								<string>{ 48.000,89.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ 3.000,-77.000 }</string>	
								<string>{ 57.000,93.000 }</string>
							</array>
							<array>	
								<string>{ -70.000,12.000 }</string>	
								<string>{ -75.000,6.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -68.000,12.000 }</string>
							</array>
							<array>	
								<string>{ -58.000,-101.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -64.000,-98.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,75.000 }</string>	
								<string>{ 17.000,73.000 }</string>	
								<string>{ 26.000,78.000 }</string>
							</array>
							<array>	
								<string>{ 93.000,10.000 }</string>	
								<string>{ 97.000,18.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 90.000,8.000 }</string>
							</array>
							<array>	
								<string>{ 8.000,69.000 }</string>	
								<string>{ 4.000,65.000 }</string>	
								<string>{ 17.000,73.000 }</string>
							</array>
							<array>	
								<string>{ -86.000,-2.000 }</string>	
								<string>{ -93.000,-10.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -84.000,-2.000 }</string>
							</array>
							<array>	
								<string>{ -77.000,6.000 }</string>	
								<string>{ -84.000,-2.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -75.000,6.000 }</string>
							</array>
							<array>	
								<string>{ -116.000,-60.000 }</string>	
								<string>{ -117.000,-60.000 }</string>	
								<string>{ -113.000,-68.000 }</string>	
								<string>{ -113.000,-66.000 }</string>
							</array>
							<array>	
								<string>{ -113.000,-66.000 }</string>	
								<string>{ -113.000,-68.000 }</string>	
								<string>{ -101.000,-81.000 }</string>	
								<string>{ -111.000,-67.000 }</string>
							</array>
							<array>	
								<string>{ 106.000,31.000 }</string>	
								<string>{ 110.000,39.000 }</string>	
								<string>{ 110.000,42.000 }</string>	
								<string>{ 104.000,30.000 }</string>
							</array>
							<array>	
								<string>{ -95.000,-10.000 }</string>	
								<string>{ -105.000,-21.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -93.000,-10.000 }</string>
							</array>
							<array>	
								<string>{ -93.000,-87.000 }</string>	
								<string>{ -74.000,-95.000 }</string>	
								<string>{ -71.000,-95.000 }</string>	
								<string>{ -107.000,-21.000 }</string>	
								<string>{ -95.000,-84.000 }</string>
							</array>
							<array>	
								<string>{ 118.000,61.000 }</string>	
								<string>{ 116.000,58.000 }</string>	
								<string>{ 111.000,47.000 }</string>	
								<string>{ 110.000,42.000 }</string>	
								<string>{ 113.000,46.000 }</string>
							</array>
							<array>	
								<string>{ -28.000,45.000 }</string>	
								<string>{ -42.000,33.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -23.000,47.000 }</string>
							</array>
							<array>	
								<string>{ 110.000,42.000 }</string>	
								<string>{ 111.000,47.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 104.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 5.000,-77.000 }</string>	
								<string>{ 18.000,-65.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 57.000,93.000 }</string>	
								<string>{ 3.000,-77.000 }</string>
							</array>
							<array>	
								<string>{ 0.000,64.000 }</string>	
								<string>{ -16.000,52.000 }</string>	
								<string>{ 4.000,65.000 }</string>
							</array>
							<array>	
								<string>{ 27.000,80.000 }</string>	
								<string>{ 26.000,78.000 }</string>	
								<string>{ 48.000,89.000 }</string>	
								<string>{ 45.000,89.000 }</string>
							</array>
							<array>	
								<string>{ 32.000,-55.000 }</string>	
								<string>{ 58.000,-29.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 30.000,-55.000 }</string>
							</array>
							<array>	
								<string>{ 80.000,-7.000 }</string>	
								<string>{ 80.000,-5.000 }</string>	
								<string>{ 59.000,95.000 }</string>	
								<string>{ 58.000,-29.000 }</string>
							</array>
							<array>	
								<string>{ -64.000,-98.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -105.000,-21.000 }</string>	
								<string>{ -107.000,-21.000 }</string>	
								<string>{ -71.000,-95.000 }</string>
							</array>
							<array>	
								<string>{ -9.000,-86.000 }</string>	
								<string>{ 3.000,-77.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ -54.000,-104.000 }</string>
							</array>
							<array>	
								<string>{ -19.000,50.000 }</string>	
								<string>{ -23.000,47.000 }</string>	
								<string>{ -51.000,-102.000 }</string>	
								<string>{ 48.000,89.000 }</string>	
								<string>{ 4.000,65.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,73.000 }</string>	
								<string>{ 4.000,65.000 }</string>	
								<string>{ 48.000,89.000 }</string>	
								<string>{ 26.000,78.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

