<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 01</key>
	<dict>
		<key>Objects</key>
		<array>
			<array>
				<string>ArmChair</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>FootRest</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
            <array>
				<string>Dresser</string>
				<integer>400</integer>
				<integer>300</integer>
			</array>
            <array>
				<string>Dresser</string>
				<integer>200</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>Start</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>End</string>
				<integer>250</integer>
				<integer>100</integer>
			</array>
		</array>
	</dict>
</dict>
</plist>
