<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 0</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Lights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>floor_lamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>400</integer>
				<key>origin_y</key>
				<integer>200</integer>
				<key>vertical_percentage</key>
				<real>0.85</real>
				<key>on_duration</key>
				<integer>2</integer>
				<key>off_duration</key>
				<real>2.5</real>
			</dict>
		</array>
		<key>StaticLights</key>
		<array/>
		<key>Objects</key>
		<array>
			<array>
				<string>cinderBlock</string>
				<integer>100</integer>
				<integer>300</integer>
			</array>
			<array>
				<string>mattress</string>
				<integer>256</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>220</integer>
				<integer>150</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>700</integer>
				<integer>250</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array>
			<array>
				<string>ropeLarge</string>
				<integer>4</integer>
				<integer>320</integer>
				<string>Zhoutuo</string>
			</array>
		</array>
	</dict>
	<key>Level 1</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>Door</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>220</integer>
				<integer>150</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>700</integer>
				<integer>250</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 2</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>Door</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
			<array>
				<string>nightStand</string>
				<integer>300</integer>
				<string>200</string>
			</array>
			<array>
				<string>FootRest</string>
				<integer>450</integer>
				<integer>200</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>220</integer>
				<integer>150</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>820</integer>
				<integer>310</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 3</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>ArmChair</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>FootRest</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>Dresser</string>
				<integer>400</integer>
				<integer>300</integer>
			</array>
			<array>
				<string>Dresser</string>
				<integer>200</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>624</integer>
				<integer>600</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 4</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>Door</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
			<array>
				<string>cinderBlock</string>
				<integer>400</integer>
				<integer>300</integer>
			</array>
			<array>
				<string>cinderBlock</string>
				<integer>300</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>230</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>670</integer>
				<integer>350</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 5</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>fridge</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>500</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>515</integer>
				<integer>520</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array>
			<array>
				<string>ropeLarge</string>
				<integer>6</integer>
				<integer>320</integer>
				<string>hangingBulb</string>
			</array>
		</array>
	</dict>
	<key>Level 6</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>dresserWLegs</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>220</integer>
				<integer>150</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>800</integer>
				<integer>150</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 7</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>stove</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
			<array>
				<string>tableThin</string>
				<integer>300</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>220</integer>
				<integer>150</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>800</integer>
				<integer>530</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 8</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>tableThin</string>
				<integer>100</integer>
				<integer>200</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>220</integer>
				<integer>150</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>700</integer>
				<integer>250</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 11</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>lightSourceOff</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>500</integer>
				<key>origin_y</key>
				<integer>150</integer>
				<key>vertical_percentage</key>
				<real>0.5</real>
				<key>on_duration</key>
				<real>0.1</real>
				<key>off_duration</key>
				<integer>10</integer>
				<key>lightObject</key>
				<string>lamp</string>
				<key>object_x</key>
				<integer>500</integer>
				<key>object_y</key>
				<integer>80</integer>
			</dict>
		</array>
		<key>Objects</key>
		<array>
			<array>
				<string>Dresser</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>Dresser</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>Door</string>
				<integer>200</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>250</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>800</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 12</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>Dresser</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>Dresser</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>ArmChair</string>
				<integer>400</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>StaticLights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>lightSourceOff</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>500</integer>
				<key>origin_y</key>
				<integer>150</integer>
				<key>vertical_percentage</key>
				<real>0.5</real>
				<key>on_duration</key>
				<real>0.1</real>
				<key>off_duration</key>
				<integer>10</integer>
				<key>lightObject</key>
				<string>lamp</string>
				<key>object_x</key>
				<integer>500</integer>
				<key>object_y</key>
				<integer>80</integer>
			</dict>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>250</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>800</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 13</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>fridge</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>Door</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Lights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>lamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>200</integer>
				<key>origin_y</key>
				<integer>200</integer>
				<key>vertical_percentage</key>
				<real>0.85</real>
				<key>on_duration</key>
				<integer>2</integer>
				<key>off_duration</key>
				<real>2.5</real>
			</dict>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>900</integer>
				<integer>650</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 14</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>Dresser</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>Dresser</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>ArmChair</string>
				<integer>400</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Lights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>lamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>200</integer>
				<key>origin_y</key>
				<integer>200</integer>
				<key>vertical_percentage</key>
				<real>0.85</real>
				<key>on_duration</key>
				<integer>2</integer>
				<key>off_duration</key>
				<real>2.5</real>
			</dict>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>624</integer>
				<integer>600</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 15</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>nightStand</string>
				<integer>250</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Lights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>lamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>200</integer>
				<key>origin_y</key>
				<integer>200</integer>
				<key>vertical_percentage</key>
				<real>0.85</real>
				<key>on_duration</key>
				<integer>1</integer>
				<key>off_duration</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>on_filename</key>
				<string>floorLamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>400</integer>
				<key>origin_y</key>
				<integer>200</integer>
				<key>vertical_percentage</key>
				<real>0.9</real>
				<key>on_duration</key>
				<integer>2</integer>
				<key>off_duration</key>
				<real>2.5</real>
			</dict>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>500</integer>
				<integer>350</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>500</integer>
				<integer>650</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array/>
	</dict>
	<key>Level 16</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>fridge</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Lights</key>
		<array/>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>250</integer>
				<integer>450</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>770</integer>
				<integer>450</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array>
			<array>
				<string>ropeLarge</string>
				<integer>4</integer>
				<integer>350</integer>
				<string>hangingBulb</string>
			</array>
		</array>
	</dict>
	<key>Level 17</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>nightStand</string>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>cinderBlock</string>
				<integer>400</integer>
				<integer>100</integer>
			</array>
		</array>
		<key>Lights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>lamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>200</integer>
				<key>origin_y</key>
				<integer>200</integer>
				<key>vertical_percentage</key>
				<real>0.85</real>
				<key>on_duration</key>
				<real>0.7</real>
				<key>off_duration</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>250</integer>
				<integer>100</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>740</integer>
				<integer>400</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array>
			<array>
				<string>ropeLarge</string>
				<integer>5</integer>
				<integer>350</integer>
				<string>hangingBulb</string>
			</array>
		</array>
	</dict>
	<key>Level 18</key>
	<dict>
		<key>HasTransition</key>
		<string>no</string>
		<key>Background</key>
		<string>Room layout texture</string>
		<key>Objects</key>
		<array>
			<array>
				<string>nightStand</string>
				<integer>100</integer>
				<integer>300</integer>
			</array>
		</array>
		<key>Lights</key>
		<array>
			<dict>
				<key>on_filename</key>
				<string>floorLamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>110</integer>
				<key>origin_y</key>
				<integer>100</integer>
				<key>vertical_percentage</key>
				<real>0.9</real>
				<key>on_duration</key>
				<integer>2</integer>
				<key>off_duration</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>on_filename</key>
				<string>floorLamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>200</integer>
				<key>origin_y</key>
				<integer>100</integer>
				<key>vertical_percentage</key>
				<real>0.9</real>
				<key>on_duration</key>
				<integer>6</integer>
				<key>off_duration</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>on_filename</key>
				<string>floorLamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>290</integer>
				<key>origin_y</key>
				<integer>100</integer>
				<key>vertical_percentage</key>
				<real>0.9</real>
				<key>on_duration</key>
				<integer>2</integer>
				<key>off_duration</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>on_filename</key>
				<string>floorLamp</string>
				<key>off_filename</key>
				<string>lightSource1</string>
				<key>origin_x</key>
				<integer>380</integer>
				<key>origin_y</key>
				<integer>100</integer>
				<key>vertical_percentage</key>
				<real>0.9</real>
				<key>on_duration</key>
				<integer>6</integer>
				<key>off_duration</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>Portals</key>
		<array>
			<array>
				<string>WormholeEntrance</string>
				<integer>200</integer>
				<integer>350</integer>
			</array>
			<array>
				<string>WormholeExit</string>
				<integer>760</integer>
				<integer>370</integer>
			</array>
		</array>
		<key>Ropes</key>
		<array>
			<array>
				<string>ropeLarge</string>
				<integer>6</integer>
				<integer>350</integer>
				<string>hangingBulb</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
